<div class="body">
  <div class="loginbody">
      <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;width: 100%; justify-content: center; display: flex">LOGIN</h2>
      <div style="display: flex; justify-content: center; margin-top: 50px">
          <input type="text" class="edittext" placeholder="Username">
      </div>
      <div style="display: flex; justify-content: center">
        <input type="password" class="edittext" placeholder="Password">
    </div>
    <div style="display: flex; justify-content: center">
         <button  class="login" (click)="foo()">Submit</button>
    </div>
  </div>
</div>
